<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css"/>
    <link rel="stylesheet" href="style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway" rel="stylesheet">
</head>
<body>

<span class="branding">FINTECH prototype</span><span class="menu"><i class="fa fa-print fa-2x" aria-hidden="true" onclick="window.print()"></i></span>
<hr>
</section>


<section>
<h1><i class="fa fa-user-circle" aria-hidden="true"></i></h1>
</section>

<section>
<h1><i class="fa fa-calculator" aria-hidden="true"></i></h1>
<table>
<tr>
     <% for(n=0; n<names.length-1;n++) { %>
     <th><%= names[n]%></th>
     <% } %>
</tr>
     <% for(var d in data) { %>
<tr>
     <td><%= data[d][0]%></td>
     <td><%= data[d][1]%></td>
     <td><%= data[d][2]%></td>
     <td><%= data[d][3]%></td>
     <td><%= data[d][4]%></td>
     <td><%= data[d][5]%></td>
     <td><%= data[d][6]%></td>
     <td><%= data[d][7]%></td>
</tr>
     <% } %>
</table>
</section>
<script src="bundle.js"></script>
</body>
