<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar">
    </span><span class="icon-bar"></span></button><a class="navbar-brand" href="#"><span>FINTECH PROTOTYPE</span></a></div>
            <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/">  <i class="fa fa-fw fa-user-circle text-inverse"></i></a></li>
                    <li><a href="/silver">  <i class="fa fa-fw fa-close text-inverse"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    </div>

    <div class="section">
        <div class="container">
            <div class="row">
              <div class="col-md-6">
                    <div id="chart"></div>
              </div>
                <div style="text-align:right" class="col-md-6">
                  <i class="fa fa-fw fa-user-circle fa-4x  text-inverse"></i>
                  <p></p><p></p>
                  <h3><%= user %></h3>

                  <p></p><p></p>
                  <a href="/silver"><p><%= commodities.Silver %></p></a>
                  <a href="/cattle"><p><%= commodities.Cattle %></p></a>
                  <h1>---</h1>
                  <p></p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                    <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                    <br>Ut enim ad minim veniam, quis nostrud</p>
                  <p></p>
                  <br><br><br>
                  <form role="form">
                      <div class="form-group">
                          <div class="input-group"> <input type="text" class="form-control" placeholder="...">
                             <span class="input-group-btn"> <a class="btn btn-success" type="submit"><i class="fa fa-search fa-2x" aria-hidden="true"></i></a> </span> </div>
                      </div>
                  </form>
                </div>

            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4"> <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">

                </div>
                <div class="col-md-4"> <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">

                </div>
                <div class="col-md-4"> <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
                        </div>
            </div>
        </div>
    </div>
    <footer class="section section-primary">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>-----</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam, quis nostrud</p>
                </div>
                <div class="col-sm-6">
                    <p class="text-info text-right"> <br><br></p>
                    <div class="row">
                        <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left"> <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a> <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a> <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 hidden-xs text-right">
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>

<script src="bundle.js"></script>

<script>

console.log(`'<%=commodity%>'`);
var dates = ['Dates'];
var settle = ['Dollar'];
var high = ['Pound'];
var low = ['Euro'];
     <% for(var d in data) { %>
  dates.push(`<%=data[d][0]%>`)
  settle.push(`<%=data[d][1]%>`)
  high.push(`<%=data[d][2]%>`)
  low.push(`<%=data[d][3]%>`)
<%}%>
console.log(settle);
var chart = c3.generate({
    data: {
        columns: [
            ['Dollar', settle[1]],
            ['Pound', high[1]],
            ['Euro', low[1]]
        ],
        type : 'pie',
        onclick: function (d, i) { console.log("onclick", d, i); },
        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
    }
});




// setTimeout(function () {
//     chart.load({
//         columns: [
//             ["setosa", 0.2, 0.2, 0.2, 0.2, 0.2, 0.4, 0.3, 0.2, 0.2, 0.1, 0.2, 0.2, 0.1, 0.1, 0.2, 0.4, 0.4, 0.3, 0.3, 0.3, 0.2, 0.4, 0.2, 0.5, 0.2, 0.2, 0.4, 0.2, 0.2, 0.2, 0.2, 0.4, 0.1, 0.2, 0.2, 0.2, 0.2, 0.1, 0.2, 0.2, 0.3, 0.3, 0.2, 0.6, 0.4, 0.3, 0.2, 0.2, 0.2, 0.2],
//             ["versicolor", 1.4, 1.5, 1.5, 1.3, 1.5, 1.3, 1.6, 1.0, 1.3, 1.4, 1.0, 1.5, 1.0, 1.4, 1.3, 1.4, 1.5, 1.0, 1.5, 1.1, 1.8, 1.3, 1.5, 1.2, 1.3, 1.4, 1.4, 1.7, 1.5, 1.0, 1.1, 1.0, 1.2, 1.6, 1.5, 1.6, 1.5, 1.3, 1.3, 1.3, 1.2, 1.4, 1.2, 1.0, 1.3, 1.2, 1.3, 1.3, 1.1, 1.3],
//             ["virginica", 2.5, 1.9, 2.1, 1.8, 2.2, 2.1, 1.7, 1.8, 1.8, 2.5, 2.0, 1.9, 2.1, 2.0, 2.4, 2.3, 1.8, 2.2, 2.3, 1.5, 2.3, 2.0, 2.0, 1.8, 2.1, 1.8, 1.8, 1.8, 2.1, 1.6, 1.9, 2.0, 2.2, 1.5, 1.4, 2.3, 2.4, 1.8, 1.8, 2.1, 2.4, 2.3, 1.9, 2.3, 2.5, 2.3, 1.9, 2.0, 2.3, 1.8],
//         ]
//     });
// }, 1500);

// setTimeout(function () {
//     chart.unload({
//         ids: 'data1'
//     });
//     chart.unload({
//         ids: 'data2'
//     });
// }, 2500);

</script>
</html>
